body {
	font-family: "Cuprum", Arial, sans-serif;
	background-color:#ffffff;
}

h5 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

ul {
	padding-left: 16px;
}

li {
	margin-bottom: 2px;
}

a {
	color: #f5cf57;
}

#myCanvas {
	width: 100%;
	height: 100%;
	background-image: url(images/cells.png);
	background-size: 200px 200px;
	background-repeat: repeat;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: 0;
	outline-offset: 0;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 40px;
	height: 38px;
	background: #404040;
	color: #fff;
	padding: 1px 6px;
}

.btn:hover {
	border: 1px solid #e4d00a;
	color: #fff;
}

.btn:focus {
	border: 1px solid #e4d00a;
	color: #fff;
	background: #606060;
}

.btn:active {
	border: 1px solid #bbb;
	color: #fff;
	background: #808080;
}

.sketch_window {
	background: #202020;
	position: absolute;
}

#sketch_editor-portrait {
	display: flex;
    justify-content: space-around;
	top: 0;
	width: 100%;
	padding: 4px;
}

.btn_check {
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	padding: 0;
}

.line_check input[type="checkbox"] + span {
	width: 28px;
    height: 28px;
	background: url('images/grid2.png') no-repeat;
	cursor: pointer;
	background-position: center top;
	background-size: 100%;
}
.line_check input[type="checkbox"] {
    display: none;
}
.line_check input[type="checkbox"]:checked + span {
	background-position: center bottom;
}

.curve_check input[type="checkbox"] + span {
	width: 100%;
    height: 100%;
	background: url('images/curve2.png') no-repeat;
	cursor: pointer;
	background-position: center center;
	background-size: contain;
	border-radius: 4px;
}
.curve_check input[type="checkbox"] {
    display: none;
}
.curve_check input[type="checkbox"]:checked + span {
	background-color: #90a090;
}

.arc_check input[type="checkbox"] + span {
	width: 100%;
    height: 100%;
	background: url('images/arc2.png') no-repeat;
	cursor: pointer;
	background-position: center center;
	background-size: contain;
	border-radius: 4px;
}
.arc_check input[type="checkbox"] {
    display: none;
}
.arc_check input[type="checkbox"]:checked + span {
	background-color: #90a090;
}

#keyboard-window {
	display: none;
	position: absolute;
    left: 0;
    bottom: 0;
    background: #202020;
    width: 100%;
}

.but_num {
	width: 100%;
    min-width: 20px;
    max-width: 40px;
    height: 38px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    padding: 2px 2px;
    margin: 0 2px;
}

.but_num.but-top-row {
	max-width: 100px;
}

.keyboard-window-row {
	display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 460px;
    margin: 0px auto;
    padding: 4px;
}

#newLength:disabled {
	min-width: 176px;
	height: 38px;
	font-size: 20px;
	padding-left: 10px;
	color: #fff;
	border: 1px solid #fff;
	background: #606060;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: default;
	margin: 0 2px;
}

#sketch_editor-landscape {
	display: none;
	flex-direction: column;
	height: 100%;
	left: 0;
	top: 0;
	min-width: 52px;
    width: 6%;
	padding: 4px;
}

#sketch_editor-landscape .btn {
	margin: 2px;
}

.table-build {
	display: none;
}

.table-build td,th {
	padding: 4px;
	max-width: 100px;
	text-align: center;
	color: #fff;
	white-space: nowrap;
}

#btn-info {
	display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    height: 28px;
    background: #404040;
    color: #fff;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 4px;
    border-radius: 12px;
}

.build-container {
	max-height: 160px;
	overflow-y: auto;
	margin-top: 6px;
}

@media screen and (orientation:landscape) {
	#sketch_editor-portrait {
		display: none;
	}
	#sketch_editor-landscape {
		display: flex;
	}
	#btn-info {
		top: 4px;
    	left: calc(6% + 4px);
	}
	.build-container {
		max-height: 320px;
	}
}

#popup, #popup2, #popup3, #popup_innerCutout, #popup_build, #popup-info
{
	border-radius: 4px;
	margin: 80px auto;
	left: 0px;
	right: 0px;
	display: none;
	background: #202020;
	color: #fff;
	position: fixed;
	padding: 10px;
	font-size: 12pt;
	font-weight: bold;
	z-index: 10;
	text-align: center;
	width: 310px;
}

#popup-info {
	display: block;
	font-size: 14px;
}

#popup-info .row {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	display: flex;
	align-items: center;
	padding: 2px 0;
}

#popup-info div > .row:not(:last-child) {
	border-bottom: 1px solid #bbb;
}

#popup-info .row > div {
	padding-left: 4px;
	padding-right: 4px;
}

.info-col-img {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 32px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

#textarea_koordinats
{
	width: 280px;
	height: 280px;
	resize: none;
}

.result-form {
	position: absolute;
	bottom: 0;
	background: #FFFFFF;
	color: #fff;
	padding: 4px 12px;
	display: none;
	width: 100%;
	justify-content: center;
    align-items: flex-end;
}

.div-result-final {
	padding: 4px 12px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-form td {
	color: #000;
	font-weight: normal;
	font-size: 14px;
	vertical-align: baseline;
	padding: 2px 0;
}

.result-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.div-result-final td, .result-length-container td {
	font-weight: normal;
	font-size: 15px;
	vertical-align: baseline;
	padding: 2px 6px;
}

.div-result-final td:last-child, .result-length-container td:last-child {
	text-align: right;
}

.result-form input, .result-form input:focus, .result-form input:active, .result-form input:focus-visible {
	width: 50px;
	margin-left: 4px;
	background: #ffffff;
	border: none;
	outline: none;
}

#img-result {
    display: flex;
	/*justify-content: center;*/
	align-items: center;
	overflow: hidden;
	min-height: 50%;
	max-height: 70%;
}

#img-result svg {

    width: 40%;
}

.result-length-container {
	padding: 4px 12px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	overflow-y: scroll;
	min-height: 120px;
}

.result-length-container > div {
	margin: 0 10px;
	height: fit-content;
    display: flex;
    flex-direction: column;
	align-items: center;
}

.right-buttons {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    padding: 2px 0;
    min-height: 100%;
}

iframe {
	display: none;
}

.example-img {
	max-width: 320px;
	max-height: 78%;
}

.left-icon > i {
	margin-right: 4px;
}

/*PRELOADER*/
.PRELOADER
{
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	background-color: rgba(90, 90, 90, 0.7);
	width: 100vw;
	height: 100vh;
	line-height: 100vh;
	text-align: center;
	z-index: 1000;
}
.PRELOADER .PRELOADER_BLOCK {
	position: absolute;
	top: calc(100%/2 - 110px);
	left: calc(100%/2 - 110px);
	width: 220px;
	height: 220px;
	display: inline-block;
	transform: rotate(0deg);
	border: 10px dashed rgb(255,255,255);
	border-radius: 110px;
	animation: PRELOADER 4s infinite linear;
	z-index: 1001;
}
@keyframes PRELOADER {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
